.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: block;
  width: 100%;
  color: #000000;
  height: 30px;
  margin-top: 41px;
}

.popup__input:focus {
  outline: none;
}

.popup__input:last-of-type {
  margin-top: 23px;
}

@media all and (max-width:620px) {
  .popup__input {
    margin-top: 67px;
  }
}
