.header {
  max-width: 880px;
  display: flex;
  align-items: center;
  margin: auto;
  height: 119px;
  border-bottom: solid 1px rgba(84, 84, 84, 0.7) ;
}

@media all and (max-width:320px) {
  .header {
    height: 84px;
  }
}