@import url(../vendor/normalize.css);

@import url(../blocks/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/main/main.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__description/profile__description.css);

@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__button-edit/profile__button-edit.css);

@import url(../blocks/profile/__button-add/profile__button-add.css);

@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__heading/profile__heading.css);
@import url(../blocks/profile/__subheading/profile__subheading.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__photo/element__photo.css);
@import url(../blocks/element/__caption/element__caption.css);
@import url(../blocks/element/__heading/element__heading.css);
@import url(../blocks/element/__like/element__like.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);


@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__button-close/popup__button-close.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/__input-heading/popup__input-heading.css);
@import url(../blocks/popup/__input-subheading/popup__input-subheading.css);
@import url(../blocks/popup/__button-submit/popup__button-submit.css);